*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
   background-color: #F9F9F9;
}


/* header */

.container{
  max-width: 1440px;
  margin: 0 auto;
}

header{
  padding: 37px 84px 47px 84px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  
}
.logo img{ 
  height: 49px;
}

.logo img{
  transition: 0.2s;
}
.logo img:hover{
  transform: scale(1.1);
}

.main-navigation ul {
  display: flex;
  list-style: none;
  gap: 65px;            
}

.main-navigation li {
  display: flex;
  align-items: center;        
}

.main-navigation a{
  font-size: 14px;
  color: #000;
  font-weight: 700;
  transition: color 0.3s;
  border-radius: 5px;
  padding: 9px 32px;
  transition: 0.3s ease;
}

.main-navigation a:hover{
  background-color: #48E0DC;
  border-radius: 40px;
}

.search-button{
  background-color: #48E0DC;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: color 0.3s;
  border-radius: 40px;
  width: 47px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button img{
  height: 24px; 
}

.search-button:hover{
  background-color: #0fccc5;
  width: 47px;
  height: 47px;
  border-radius: 50%;
}


/* 1st section */

.container-1{
    display: flex;
    justify-content: center;
    padding-left: 84px;
    padding-right: 84px;
    margin: 0 auto;
    max-width: 1440px;
}
    

.box-1{
    background-image:url(assets/Mask\ group.png);
    width: 100%;
    height: 559px;
    background-position: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    
}
.box-1-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 57px;
    padding-right: 57px;
    align-items: flex-start;
    padding-top:218px ;
    padding-bottom: 141px;
    
}

.box-1-content p{
    width: 189px;
    font-weight: 700;
    font-size: 12px;
    color: #FFFFFF;
}

h1{
    font-weight: 400;
    font-size: 46px;
    line-height: 100%;
    letter-spacing: 0%;
    font-weight: 700;
    color: #FFFFFF;
    padding-bottom: 19px;
    padding-top: 22px;
}

.color-text1{
color: #4CE0D7;
font-weight: 700;
}

.color-text2{
    color: #8BA9F4;
    font-weight: 700;
}
h5{
    width: 494px;
    height: 72px;
    top: 479px;
    left: 137px;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
}

/* 2nd section */

.container-2{
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    height: 288px;
    padding: 73px 84px;
    margin: 73px auto;
}

.box-2{
    display: flex;
    flex-direction: row;
    height: 204px;
    max-width: 1272px;
    gap: 10px;
    padding-top:48px;
}

.small-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 48px;
    gap: 25px;
    width: 204px;
    height: 291px;
    top: 849px;
    left: 83px;
    border-radius: 20px;
    margin: 0 auto;
    background-color: #FFFFFF;
    box-shadow: 0px 6px 6px 0px #0000000D;
}

.small-box img{
width: 100px;
height: 100px;
}

h3{
    font-weight: 700;
    font-size: 36px;
}

h6{
    font-weight: 700;
    font-size: 20px;
}


.button-2{
    color:black;
    width: 144px;
    height: 36px;
    border-radius: 40px;
    border: none;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    padding:10px 40px ;
    background-color: none;
    background-color: transparent;
}

.button-2:hover{
    background-color: #4ef0e4;
    border-radius: 40px;
    width: 144px;
    height: 36px;
}

/* boerder */
    .borderi{
     border-bottom: 1px solid #BCBCBC;
     padding-bottom: 217px;
     padding-left: 83px;
     margin: auto;
     width: fit-content;
     padding-left: 623px;
     padding-right: 623px;
}

/* 1st article */

   .card1 {
      max-width: 1204px;
      margin: 53px auto;
      background-color: white;
      border-radius: 20px;
      overflow: hidden;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    }

    .card1 img {
      width: 100%;
      height: auto;
      display: block;
    }

    .tag {
      padding: 10px 100px 10px 100px;
      position: absolute;
      background: #333;
      color: white;
      font-size: 12px;
      font-weight: bold;
      border-radius: 20px;
      top: 20px;
      left: 20px;
      text-transform: uppercase;
    }

    .content {
      padding: 24px;
      position: relative;
    }

    .author {
      display: flex;
      align-items: center;
      font-size: 14px;
      color: #aaa;
      margin-bottom: 12px;
    }

    .author img {
      width: 65px;
      height: 50px;
      border-radius: 50%;
      margin-right: 10px;
    }

    

    .highlight {
      color: #F25E5E;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 14px;
      position: absolute;
      top: 24px;
      right: 24px;
      letter-spacing: 24%;
    }

    .ori {
      font-size: 24px;
      margin: 16px 0;
      font-weight: 700;
      color: #000;
    }

    p {
      font-size: 16px;
      line-height: 1.6;
      color: #555;
    }

    .read-more {
      margin-top: 20px;
      display: inline-flex;
      align-items: center;
      color: #4CE0D7;
      font-weight: 700;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 12px;
    }

    .read-more::before {
      content: '→';
      margin-right: 8px;
    }

    /* 2nd section */

.container-2{
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    height: 288px;
    padding: 73px 84px;
    margin: 73px auto;
}

.box-2{
    display: flex;
    flex-direction: row;
    height: 204px;
    max-width: 1272px;
    gap: 10px;
    padding-top:48px;
}

.small-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 48px;
    gap: 25px;
    width: 204px;
    height: 291px;
    top: 849px;
    left: 83px;
    border-radius: 20px;
    margin: 0 auto;
    background-color: #FFFFFF;
    box-shadow: 0px 6px 6px 0px #0000000D;
}

.small-box img{
width: 100px;
height: 100px;
}

h3{
    font-weight: 700;
    font-size: 36px;
}

h6{
    font-weight: 700;
    font-size: 20px;
}



    /* 1st article */

   .card1 {
      max-width: 1204px;
      margin: 53px auto;
      background-color: white;
      border-radius: 20px;
      overflow: hidden;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    }

    .card1 img {
      width: 100%;
      height: auto;
      display: block;
    }

    .tag {
      padding: 10px 100px 10px 100px;
      position: absolute;
      background: #333;
      color: white;
      font-size: 12px;
      font-weight: bold;
      border-radius: 20px;
      top: 20px;
      left: 20px;
      text-transform: uppercase;
    }

    .content {
      padding: 24px;
      position: relative;
    }

    .author {
      display: flex;
      align-items: center;
      font-size: 14px;
      color: #aaa;
      margin-bottom: 12px;
    }
    .author img {
      width: 65px;
      height: 50px;
      border-radius: 50%;
      margin-right: 16px;
      
    }

    .highlight {
      color: #f44336;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 14px;
      position: absolute;
      top: 24px;
      right: 24px;
      letter-spacing: 24%;
    }

    .ori {
      font-size: 24px;
      margin: 16px 0;
      font-weight: 700;
      color: #000;
    }

    p {
      font-size: 16px;
      line-height: 1.6;
      color: #555;
    }

    .read-more {
      margin-top: 40px;
      margin-bottom: 38px;
      display: inline-flex;
      align-items: center;
      color: #4CE0D7;
      font-weight: 700;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 24%;
      transition: 0.2s;
      transform-origin: left center;
    }

    .read-more::before {
      content: '→';
      margin-right: 8px;
      width: 22px;
      height: 14px;
      
    }

    .read-more:hover {
     transform: scale(1.2);
    }
   
     /* 2nd Article  */

    .trending-section {
     margin: 87px auto;
     max-width: 1200px;
     
    }

    .trending-title {
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 30px;
    }

    .card-container {
      display: flex;
      gap: 45px;
      flex-wrap: wrap;
    }

    .card {
      height: 550px;
      background-color: white;
      border-radius: 20px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
      width: 48%;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      
    }

    .card img {
      width: 100%;
      height: 278px;
      border-radius: 15px 15px 0 0;
    }

    .category-label {
      background-color: #262626;
      color: white;
      font-size: 12px;
      font-weight: bold;
      border-radius: 40px;
      padding: 9px 63px 9px 63px;
      position: absolute;
      top: 10px;
      left: 10px;
    }

    .card-image {
      position: relative;
    }

    .card-content {
      margin-block-end: auto;
      padding: 20px;
      
    }

    .card-meta {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
    }

    .card-meta img {
      width: 65px;
      height: 50px;
      border-radius: 50%;
      margin-right: 16px;
    }

    .card-meta span {
      color: gray;
      font-size: 13px;
    }

    .card-title {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 10px;
    }

    .card-desc {
      font-size: 16px;
      color: #333;
      line-height: 1.5;
      font-weight: 400;
      
    }

    .read-more2{
      margin-bottom: 42px;
      margin-top: 32px;
    }


    /* 3rd Article  */

    .container-5 {
      max-width: 1440px;
      width: 100%;
      margin:  0 auto;
      padding-left: 118px;
    }


    .card2 {
    display: flex;
    justify-self: anchor-center;
    background-color: #ffffff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 1202px;
    height: 368px;
    border-radius: 20px;
    margin-top: 58px;
    margin-bottom: 69px;
    margin-right: 110px;
}

.card-image2 {
  position: relative;
  width: 50%;
}

.card-image2 img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category-badge {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #262626;
  color: white;
  padding: 9px 53px 9px 53px;
  border-radius: 40px;
  font-weight: bold;
  font-size: 14px;
}

.card-content1 {
  padding: 30px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 46px;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  color: #aaa;
  font-size: 14px;
}

.author-left {
  display: flex;
  align-items: center;
}

.author-left img {
  width: 65px;
  height: 50px;
  margin-right: 17px;

}

.satauri {
 font-weight: 700;
 font-size: 26px;
 line-height: 100%;
 letter-spacing: 0%;

}

.agwera {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;

}

.sataurizevit {
 font-weight: 400;
 font-size: 14px;
 line-height: 100%;
 letter-spacing: 0%;
 width: 168;
 height: 21;

}


    /* Footer */

 .footer-container {
  max-width: 1440px;
  padding: 87px 84px 37px;
  margin: 0 auto;
  background-color: white;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 45px;
}

.footer-left .footer-logo {
  font-size: 36px;
  font-weight: bold;
  display: flex;
}

.lux {
  color: black;
  margin-right: 5px;
}

.ventus {
  color: teal;
}

.footer-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
}

.hangout {
  font-family: 'Poppins', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 100%;
  color: #262626;
  margin: 0;
}

.social-icons {
  display: flex;
  gap: 20px;
}

.icons{
  transition: 0.4s;
  cursor: pointer;
}


.icons:hover{
    transform:scale(1.3);
}


.social-icons img {
  width: 31px;
  height: 31px;
  border-radius: 50%;
}

.footer-line {
  width: 100%;
  border: none;
  border-top: 1px solid rgba(188, 188, 188, 1);
  margin: 0;
  padding-bottom: 0;
}

.footer-bottom {
  display: flex;
  justify-content: flex-start;
  padding-top: 34px;
 
  
}

.footer-copy {
  font-size: 14px;
  color: #262626;
  font-weight: 700;
  
}